@use "../../assets/sass/_variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: 5px 0px;
    background-color: #0096C3;

    // border-bottom: 1px purple solid;
}